@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1>Contato</h1>

    <div class="contato">
    <h4>Contato da Conmebol</h4>
    <a class="source-links" href="https://www.conmebol.com/pt-br/conmebol-libertadores/" target="_blank">Site Conmebol</a>
    </div>

    <div class="contato">
    <h4>Contato da UEFA</h4>
    <a class="source-links" href="https://pt.uefa.com/uefachampionsleague/" target="_blank">Site UEFA</a>
    </div>

    <div class="contato">
        <h4>Contato da FIFA</h4>
        <a class="source-links" href="https://www.fifa.com/fifaplus/pt/tournaments/mens/worldcup/qatar2022" target="_blank">Site FIFA</a>
    </div>
</div>
