@{
    ViewData["Title"] = "Libertadores";
}

<body class="libertadores-page">
<div class="text-center">
    <h1 class="display-4">Sobre a Libertadores</h1>
    <h4>Introdução</h4>
    <p>
       A Copa Libertadores da América é a mais importante competição de clubes de futebol da América do Sul e uma das mais prestigiadas do mundo. 
       O torneio é almejado por todos os times sul-americanos, pois garante uma vaga no Mundial de Clubes da Fifa. 
       O campeão da Copa Libertadores também disputa a Recopa Sul-Americana.
    </p>

    <p>
        A Libertadores, como é popularmente conhecida, é organizada anualmente pela Confederação Sul-Americana de Futebol (Conmebol ou CSF) 
        e conta com a participação de equipes da
        Argentina, Bolívia, Brasil, Chile, Colômbia, Equador, Paraguai, Peru, Uruguai e Venezuela. Times do México também já participaram em edições passadas.
    </p>

    <h4>História da Libertadores</h4>
    <p>
        Com base no desejo de criar um torneio para reunir os clubes campeões de cada país da América do Sul, a tradicional competição teve sua origem no Congresso da CSF, 
        realizado no Rio de Janeiro, em 1958. Mas, antes de ser oficializada, houve muito planejamento e projetos até que se chegasse à decisão final.
    </p>

    <p>
        As partidas entre times de países diferentes começaram a ser realizadas, na América do Sul, no ano de 1900, por meio da Copa Competência, 
        que reunia clubes de Buenos Aires e Rosário, na Argentina; e Montevidéu, no Uruguai.
    </p>

    <img src="https://t2.tudocdn.net/620393?w=782&h=469" alt="Imagem da Taça da Copa Libertadores"/>
    <div class="div-links">
        <a class="source-links" href="https://t2.tudocdn.net/620393?w=782&h=469" target="_blank">Fonte IMG</a>
        <a class="source-links" href="https://brasilescola.uol.com.br/educacao-fisica/copa-libertadores-america.htm" target="_blank">Fonte das Informações</a>
    </div>
    <div class="div-buttons">
        <button class="button-link">
            <a class="nav-link button-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </button>
        <button class="button-link">
            <a class="nav-link button-text" asp-area="" asp-controller="Champions" asp-action="Index">Champions League</a>
        </button>
        <button class="button-link">
            <a class="nav-link button-text" asp-area="" asp-controller="CopaDoMundo" asp-action="Index">Copa do Mundo</a>
        </button>
            <button class="button-link">
                <a class="nav-link button-text" asp-area="" asp-controller="About" asp-action="Index">Sobre</a>
            </button>
            <button class="button-link">
                <a class="nav-link button-text" asp-area="" asp-controller="Contact" asp-action="Index">Contato</a>
            </button>
    </div>
</div>
</body>