@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1>Sobre</h1>
    <p>
        Estudante de Análise e Desenvolvimento de Sistemas na FIAP, esse site foi desenvolvido para o checkpoint
        e também conta um pouco sobre as principais competições da atualidade e como surgiram.
    </p>
    <div class="div-buttons">
        <button class="button-link">
            <a class="nav-link button-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </button>
        <button class="button-link">
            <a class="nav-link  button-text" asp-area="" asp-controller="Libertadores" asp-action="Index">Libertadores</a>
        </button>
        <button class="button-link">
            <a class="nav-link button-text" asp-area="" asp-controller="Champions" asp-action="Index">Champions League</a>
        </button>
        <button class="button-link">
            <a class="nav-link button-text" asp-area="" asp-controller="CopaDoMundo" asp-action="Index">Copa do Mundo</a>
        </button>
        <button class="button-link">
            <a class="nav-link button-text" asp-area="" asp-controller="Contact" asp-action="Index">Contato</a>
        </button>
    </div>
</div>
