html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

 a {
     text-decoration: none;
 }
.button-link {
    margin: 0 8px 0 8px;
    background-color: #0E1E5B;
    border-radius: 5px;
}

.button-text {
    color:white;
}

.source-links {
    margin: 0 8px 0 8px;
    border: 2px solid #0E1E5B;
    border-radius: 6px;
    padding: 6px;
    color: black;
}

.div-buttons, .div-links {
    margin-top: 15px;
}

.contato {
    margin-top: 22px;
}