@{
    ViewData["Title"] = "Champions League";
}

<div class="text-center">
    <h1 class="display-4">Sobre a Champions League</h1>
    <h4>História da Champions League</h4>

    <p>
        A Champions League foi criada em 1955 ainda com o nome de Taça dos Clubes Campeões Europeus. 
        Embora sempre tenha sido respaldada pela UEFA, a ideia da criação partiu dos jornalistas franceses Jacques Ferran e Gabriel Hanot, ambos do jornal L’Équipe. 
        A primeira edição contou com os campeões nacionais da Bélgica, Dinamarca, Suécia, Itália, Espanha, França e Alemanha, além de outros nove clubes convidados, 
        e acabou com o Real Madrid tornando-se campeão na final contra o Stade de Reims, da França.
    </p>
    <p>
        O clube merengue ganhou não só a primeira edição como também as outras quatro seguintes, 
        emendando o primeiro e único pentacampeonato consecutivo da história da competição. 
        Outras equipes vieram a conquistar um tricampeonato de forma seguida: o Ajax (1971, 1972 e 1973); 
        o Bayern de Munique (1974, 1975 e 1976) e mais uma vez o Real Madrid (2016, 2017 e 2018).
    </p>

    <h4>Formato da Champions League</h4>
    <p>
        A Champions League é disputada de forma semelhante à Libertadores da América: fases preliminares, fase de grupos e mata-mata. 
        Embora a ideia inicial fosse reunir apenas os campeões da cada país da Europa, a competição reúne os mais bem colocados nas ligas nacionais de cada país. 
        A divisão de vagas e de quem joga as fases preliminares é feita de acordo com o ranking da UEFA, com os países mais bem colocados tendo mais representantes e direitos a vagas diretas na fase de grupos.
    </p>
    <p>
        Com 32 times definidos na fase de grupos, as equipes se dividem em oito grupos de quatro times, que jogam duas vezes entre si. 
        Os dois melhores avançam para o mata-mata. Até a semifinal, os confrontos são de ida e volta. A grande final é em jogo único em campo neutro pré-determinado pela UEFA.
    </p>

    <h4>TOP 5 Maiores campeões da Champions League</h4>
    <li>
        1 Real Madrid: 14 títulos (1955–56, 1956–57, 1957–58, 1958–59, 1959–60, 1965–66, 1997–98, 1999–00, 2001–02, 2013–14, 2015–16, 2016–17, 2017–18 e 2021–22)
    </li>
    <li>
        2 Milan: 7 títulos (1962–63, 1968–69, 1988–89, 1989–90, 1993–94, 2002–03 e 2006–07)
    </li><li>
        3 Bayern de Munique: 6 títulos (1973–74, 1974–75, 1975–76, 2000–01, 2012–13 e 2019–20)
    </li><li>
        4 Liverpool: 6 títulos (1976–77, 1977–78, 1980–81, 1983–84, 2004–05 e 2018–19)
    </li><li>
        5 Barcelona: 5 títulos (1991–92, 2005–06, 2008–09, 2010–11 e 2014–15)
    </li>

    <img src="https://lncimg.lance.com.br/cdn-cgi/image/width=1300,height=750,quality=75,background=white,fit=pad/uploads/2023/03/17/641465f53b411.jpeg" alt="Imagem da Taça da Champions League" />
    <div class="div-links">
        <a class="source-links"  href="https://lncimg.lance.com.br/cdn-cgi/image/width=1300,height=750,quality=75,background=white,fit=pad/uploads/2023/03/17/641465f53b411.jpeg" target="_blank">Fonte IMG</a>
        <a class="source-links"  href="https://universo-pitaco.reidopitaco.com.br/universo-pitaco/esportes/futebol/campeonatos/liga-dos-campeoes/historia-da-liga-dos-campeoes" target="_blank">Fonte das informações</a>
    </div>
    <div class="div-buttons">
        <button class="button-link">
            <a class="nav-link button-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </button>
        <button class="button-link">
            <a class="nav-link  button-text" asp-area="" asp-controller="Libertadores" asp-action="Index">Libertadores</a>
        </button>
        <button class="button-link">
            <a class="nav-link button-text" asp-area="" asp-controller="CopaDoMundo" asp-action="Index">Copa do Mundo</a>
        </button>
    </div>
