@{
    ViewData["Title"] = "Copa do Mundo";
}

<div class="text-center">
    <h1 class="display-4">Sobre a Copa do Mundo</h1>
    <h4>Surgimento da Copa</h4>

    <p>
        A primeira Copa do Mundo aconteceu em 1930, após muitos anos de tentativas de se organizar uma competição mundial de futebol. 
        O início do evento está diretamente ligado ao surgimento da Fifa e sua atuação na popularização e profissionalização do futebol. 
        A Federação foi fundada em 1904 e contou com a adesão inicial das seguintes nações: Bélgica, Dinamarca, França, Holanda, Espanha, Suécia e Suíça."

    </p>

    <p>
        Os primeiros esforços na direção de se organizar uma competição como a Copa do Mundo foram realizados por um dos idealizadores da Fifa, o holandês Carl Anton Wilhelm Hirschman. 
        Contudo, o grande responsável pela realização da primeira Copa do Mundo foi Jules Rimet, presidente da Fifa durante mais de trinta anos.
    </p>

    <h4>Formato</h4>
    <p>
        A Copa do Mundo, em seu modelo atual, organiza-se da seguinte maneira. As 32 seleções são dispostas em oito grupos, cada qual com quatro equipes. 
        As duas primeiras de cada grupo classificam-se para uma fase eliminatória. Assim, as dezesseis classificadas disputam as oitavas; 
        as oito vencedoras vão para as quartas; as quatro vencedoras prosseguem para as semifinais, e as vencedoras de cada semifinal disputam a grande final.
        Há também uma disputa pelo 3º lugar travada entre as perdedoras de cada semi.
    </p>

    <h4>Vencedores da Copa</h4>
    <p>
        As nações vencedoras de edições de Copa do Mundo são: Brasil (5 títulos), Alemanha e Itália (4 títulos cada), Argentina e Uruguai (2 títulos cada), Espanha, França e Inglaterra (1 título cada). 
        As nações que mais vezes foram vice-campeãs são: Alemanha, derrotada em 4 finais (1966, 1982, 1986 e 2002), seguida da Argentina, que perdeu em 3 finais (1930, 1990 e 2014). 
        A Holanda participou de três finais e saiu derrotada de todas as três decisões (1974, 1978 e 2010).
    </p>

    <img src="https://media.gazetadopovo.com.br/2012/06/2e23835b89f1e14c9292acf178749086-gpLarge.jpg" alt="Imagem do jogador Cafu comemorando o pentacampeonato do Brasil em 2002." />
    <div class="div-links">
        <a class="source-links" href="https://media.gazetadopovo.com.br/2012/06/2e23835b89f1e14c9292acf178749086-gpLarge.jpg" target="_blank">Fonte IMG</a>
        <a class="source-links" href="https://brasilescola.uol.com.br/educacao-fisica/copa-mundo.htm" target="_blank">Fonte das Informações</a>
    </div>
    <div class="div-buttons">
        <button class="button-link">
            <a class="nav-link button-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </button>
        <button class="button-link">
            <a class="nav-link button-text" asp-area="" asp-controller="Libertadores" asp-action="Index">Libertadores</a>
        </button>
        <button class="button-link">
            <a class="nav-link button-text" asp-area="" asp-controller="Champions" asp-action="Index">Champions League</a>
        </button>
        <button class="button-link">
            <a class="nav-link button-text" asp-area="" asp-controller="About" asp-action="Index">Sobre</a>
        </button>
        <button class="button-link">
            <a class="nav-link button-text" asp-area="" asp-controller="Contact" asp-action="Index">Contato</a>
        </button>
    </div>
</div>
